<h1 class="mt-4">Ordem de Serviço</h1>
<ol class="breadcrumb mb-4">
	<li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
	<form #searchFilterForm="ngForm" (submit)="searchFilter()" >
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="clientName">Nome do Cliente:</label>
					<input [(ngModel)]="clientName" type="text" name="clientName" class="form-control" />
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-grup">
					<label for="clientName">Mês:</label>
					<select class="form-control custom-select" id="month" [ngModelOptions]="{standalone: true}"
						[(ngModel)]="month" required>
						<option selected disabled="disabled">Selecione o mês...</option>
						<option *ngFor="let monthOpt of months" [ngValue]="monthOpt">
							{{ monthOpt }}
						</option>
					</select>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-grup">
					<label for="clientName">Ano:</label>
					<input [(ngModel)]="year" type="number" name="year" class="form-control" />
				</div>
			</div>
		</div>

		<div class="row float-right">
			<div class="col-md-12">
				<div class="form-grup">
					<label for="searchButton"></label>
					<button type="submit" class="btn btn-primary form-control" name="searchButton">
						<i class="fa fa-search"></i> Consultar
					</button>
				</div>
			</div>
		</div>

	</form>
</div>